<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>90s Pizza Store</title>

    <meta charset="UTF-8"> <!-- Makes the page Unicode compliant, Use UTF-16 if you want to use Japanese -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- What is the capability of your Screen?-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> <!-- Use the latest IE you possibly can -->
    <meta name="author" content="brandon marcum"> <!-- Who wrote the context of the page -->
    <meta name="keywords" content="dotnet, html, css, js"> <!-- Manipulates SEO somewhat -->
    <meta name="description" content="hello html">
    <link rel="icon" href="Images/favicon.ico">

    <link rel="stylesheet" href="styles/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#navigation').fadeIn(500);
            $('#ad-section').fadeIn(1700);
            $('#featuredpizzas').fadeIn(2600);
            $('#order').fadeIn(3200);
            $('#register').fadeIn(3500);
        });
    </script>
    <title>90s Pizza Shack</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/main.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div class="container body-content">

        @RenderBody()
        <footer class="row jumbotron">
            <hr>
            <p>
                <small>
                    Copyright &copy; 2018
                    <i class="em em-b"></i>randon Marcum
            </p>
            <p>If you take our ideas, we will take your toilet paper, dude.</small></p>
        </footer>
    </div>


    @RenderSection("Scripts", required: false)




    <script>
        $(document).ready(function () {
            $("a").on('click', function (event) {
                
                if (this.hash !== "") {
                    event.preventDefault();
                    
                    var hash = this.hash;
                    
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        
                        window.location.hash = hash;
                    });
                }
            });
        });
    </script>
</body>
</html>
